:root {
    margin: 0;
    --primary-color-mint: #16A34A;
    --light-color-mint: #07C983;
    --dark-color-mint: #15803D;
    --primary-color: #165ca3;
    --light-color: #0762c9;
    --dark-color: #0d5d8f;
}