openapi: 3.0.0
info:
    title: DigitalCommerceBank Client API
    version: 0.0.0
tags: []
servers:
    - url: https://mrcapisandbox.dcbank.ca
paths:
    /heartbeat:
        get:
            operationId: Wave1_GET_heartbeat
            description: Heartbeat
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/Account/GetAllAccount:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Account_GetAllAccount
            description: Get All Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Account/GetAllAccountV2:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Account_GetAllAccountV2
            description: Get All Account V2
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Account/GetAllCustomerAccounts:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Account_GetAllCustomerAccounts
            description: Get All Customer Accounts
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Account/GetSecurityBalance:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Account_GetSecurityBalance
            description: Get Security Balance
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Account/ProcessorFundsLoad:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Account_ProcessorFundsLoad
            description: Load Request
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/CheckManualKycAppCreditHistory:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_CheckManualKycAppCreditHistory
            description: Check Credit History
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/CheckManualKycAppInternalBlacklist:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_CheckManualKycAppInternalBlacklist
            description: Check Internal Blacklist
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/CheckManualKycAppTransUnion:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_CheckManualKycAppTransUnion
            description: Check TransUnion
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/CheckManualKycAppWatchlist:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_CheckManualKycAppWatchlist
            description: Check Watchlist
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/CreateManualKycApp:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_CreateManualKycApp
            description: Create Manual KYC Application
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/DeleteManualKycApp:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_DeleteManualKycApp
            description: Delete Manual KYC Application
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/DeleteManualKycAppDocument:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_DeleteManualKycAppDocument
            description: Delete Document
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/DigitalVerification:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_DigitalVerification
            description: Digital Verification
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/DownloadManualKycAppDocument:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_DownloadManualKycAppDocument
            description: Download Document
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/DownloadManualKycAppDocumentBase64:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_DownloadManualKycAppDocumentBase64
            description: Download Document Base64
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/GetFinancialInstitution:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_GetFinancialInstitution
            description: Get Financial Institution
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/GetImage:
        get:
            operationId: Wave2_GET_integrationapi_v1_0_AmlKyc_GetImage
            description: Get Image
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/AmlKyc/GetManualKycApp:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_GetManualKycApp
            description: Get Manual KYC Application
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/GetManualKycAppAccountVerificationSummary:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_GetManualKycAppAccountVerificationSummary
            description: Get Account  Summary
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/GetManualKycAppDigitalIdResult:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_GetManualKycAppDigitalIdResult
            description: Get Digital Id Result
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/GetManualKycAppDocumentList:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_GetManualKycAppDocumentList
            description: Get Document List
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/GetManualKycAppVerifiedAccount:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_GetManualKycAppVerifiedAccount
            description: Get Verified Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/GetParameter:
        get:
            operationId: Wave2_GET_integrationapi_v1_0_AmlKyc_GetParameter
            description: Get Parameter
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/AmlKyc/InsertOrUpdateManualKycAppDocument:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_InsertOrUpdateManualKycAppDocument
            description: Insert Or Update Document
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/PrintManualKycAppCanadaPost:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_PrintManualKycAppCanadaPost
            description: Print  Canada Post
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/PrintManualKycAppCanadaPostBase64:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_PrintManualKycAppCanadaPostBase64
            description: Print  Canada Post Base64
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/ProcessManualKycAppDigitalIdVerification:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_ProcessManualKycAppDigitalIdVerification
            description: Process Digital ID
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/SaveManualKycAppCanadaPost:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_SaveManualKycAppCanadaPost
            description: Save Canada Post
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/SendManualKycAppAccountVerificationRequest:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_SendManualKycAppAccountVerificationRequest
            description: Send Account Verification Request
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/SendManualKycAppCanadaPostEmail:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_SendManualKycAppCanadaPostEmail
            description: Send Canada Post Email
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/SendManualKycAppDigitalIdVerificationRequest:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_SendManualKycAppDigitalIdVerificationRequest
            description: Send Digital ID Request
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/SendManualKycAppInPersonIdVerification:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_SendManualKycAppInPersonIdVerification
            description: Send In Person Id Verification
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/SubmitManualKycAppAccountVerification:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_SubmitManualKycAppAccountVerification
            description: Submit Account Verification
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/UpdateManualKycAppIdentificationMethod:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_UpdateManualKycAppIdentificationMethod
            description: Update Manual KYC Application Identification Method
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/UpdateManualKycAppStatus:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_UpdateManualKycAppStatus
            description: Update Manual KYC Application Status
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/UploadManualKycAppDocument:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_UploadManualKycAppDocument
            description: Upload Document
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/UploadManualKycAppIdentificationImage:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_UploadManualKycAppIdentificationImage
            description: Upload Digital ID Photo
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/VerifyManualKycAppDigitalIdVerification:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_VerifyManualKycAppDigitalIdVerification
            description: Verify Digital Id
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/AmlKyc/VerifyManualKycAppInPersonIdVerification:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_AmlKyc_VerifyManualKycAppInPersonIdVerification
            description: Verify In Person Id
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Atm/SearchAtmLocator:
        post:
            operationId: Wave4_POST_integrationapi_v1_0_Atm_SearchAtmLocator
            description: Search Atm
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave4.Wave4Request'
    /integrationapi/v1.0/Authentication/ChangePassword:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Authentication_ChangePassword
            description: Change Password
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Authentication/HealthCheck:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Authentication_HealthCheck
            description: Health Check
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Authentication/Login:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Authentication_Login
            description: Login
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Authentication/Logout:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Authentication_Logout
            description: Logout
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Authentication/ThirdPartyLoginIframeCard:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Authentication_ThirdPartyLoginIframeCard
            description: Iframe Login
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/CancelIndividualBillPayment:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_CancelIndividualBillPayment
            description: Cancel Individual Bill Payment
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/CancelRecurringBillPayment:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_CancelRecurringBillPayment
            description: Cancel Recurring Bill Payment
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/CreateIndividualBillPayment:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_CreateIndividualBillPayment
            description: Create Individual Bill Payment
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/CreateRecurringBillPayment:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_CreateRecurringBillPayment
            description: Create Recurring Bill Payment
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/DeletePayee:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_DeletePayee
            description: Delete Payee
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/FreezeRecurringBillPayment:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_FreezeRecurringBillPayment
            description: Freeze Recurring Bill Payment
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/GetAllBillPaymentList:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_GetAllBillPaymentList
            description: Get All Bill Payment List
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/GetAllBillRecurringBillList:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_GetAllBillRecurringBillList
            description: Get All Bill Recurring Bill List
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/GetAllCustomer:
        get:
            operationId: Wave1_GET_integrationapi_v1_0_BillPayment_GetAllCustomer
            description: Get All Customer
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/BillPayment/GetAllPayee:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_GetAllPayee
            description: Get All Payee
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/GetClientAllAccount:
        get:
            operationId: Wave2_GET_integrationapi_v1_0_BillPayment_GetClientAllAccount
            description: Get Client All Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/BillPayment/GetClientDailyTransactionLimit:
        get:
            operationId: Wave2_GET_integrationapi_v1_0_BillPayment_GetClientDailyTransactionLimit
            description: Get Client Daily Transaction Limit
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/BillPayment/GetClientMainAccount:
        get:
            operationId: Wave2_GET_integrationapi_v1_0_BillPayment_GetClientMainAccount
            description: Get Client Main Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/BillPayment/GetPayeeList:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_GetPayeeList
            description: Get Payee List
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/SavePayee:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_SavePayee
            description: Save Payee
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/SearchBillCustomer:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_SearchBillCustomer
            description: Search Bill Customer
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/SearchPayee:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_SearchPayee
            description: Search Payee
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/BillPayment/UpdatePayee:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_BillPayment_UpdatePayee
            description: Update Payee
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/CardAuthorizationSimulator/Authorization:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_CardAuthorizationSimulator_Authorization
            description: Card Authorization
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/CardAuthorizationSimulator/ReverseAuthorization:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_CardAuthorizationSimulator_ReverseAuthorization
            description: Card Reverse Authorization
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Cdic/DeleteSubAccount:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Cdic_DeleteSubAccount
            description: Delete Sub Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Cdic/GetAllAccount:
        get:
            operationId: Wave1_GET_integrationapi_v1_0_Cdic_GetAllAccount
            description: Get All Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/Cdic/GetAllSubAccount:
        get:
            operationId: Wave1_GET_integrationapi_v1_0_Cdic_GetAllSubAccount
            description: Get All Sub Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/Cdic/GetMainAccount:
        get:
            operationId: Wave1_GET_integrationapi_v1_0_Cdic_GetMainAccount
            description: Get Main Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/Cdic/GetSubAccountByCustomerNumber:
        get:
            operationId: Wave1_GET_integrationapi_v1_0_Cdic_GetSubAccountByCustomerNumber
            description: Get Sub Account By Customer Number
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/Cdic/GetSubAccountById:
        get:
            operationId: Wave1_GET_integrationapi_v1_0_Cdic_GetSubAccountById
            description: Get Sub Account By Id
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/Cdic/MoneyDepositToSubAccount:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Cdic_MoneyDepositToSubAccount
            description: Money Deposit To Sub Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Cdic/UpdateSubAccountStatus:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Cdic_UpdateSubAccountStatus
            description: Update Sub Account Status
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/CdicFile/UploadCdicAccountDeleteFile:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_CdicFile_UploadCdicAccountDeleteFile
            description: Upload Cdic Account Delete File
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/CdicFile/UploadCdicAccountStatusUpdateFile:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_CdicFile_UploadCdicAccountStatusUpdateFile
            description: Upload Cdic Account Status Update File
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/CdicFile/UploadCdicMoneyTransferFile:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_CdicFile_UploadCdicMoneyTransferFile
            description: Upload Cdic Money Transfer File
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Customer/CreateCustomer:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Customer_CreateCustomer
            description: Create New Customer
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Customer/GetAll:
        get:
            operationId: Wave1_GET_integrationapi_v1_0_Customer_GetAll
            description: Get All Customer List
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/Customer/GetByCustomerId:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Customer_GetByCustomerId
            description: Get Customer By ID
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Customer/GetByCustomerNumber:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Customer_GetByCustomerNumber
            description: Get Customer by Customer Number
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Customer/SearchCustomer:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Customer_SearchCustomer
            description: Search Customer
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Customer/UpdateCustomer:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Customer_UpdateCustomer
            description: Update Customer Information
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Dcp/AtmLocator:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_AtmLocator
            description: Atm Locator
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/CancelEFT:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_CancelEFT
            description: Cancel EFT
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/CancelMoneyRequest:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_CancelMoneyRequest
            description: Cancel Money Request
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/CancelTransfer:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_CancelTransfer
            description: Cancel Transfer
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/CreateEFT:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_CreateEFT
            description: Create EFT
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/CreateMoneyRequest:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_CreateMoneyRequest
            description: Create Money Request
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/CreateTransfer:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_CreateTransfer
            description: Create Transfer
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/CreateTransferEx:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_CreateTransferEx
            description: Create Transfer Ex
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/GetAutoDepositOptions:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_GetAutoDepositOptions
            description: Get Auto Deposit Options
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/GetEFTDetails:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_GetEFTDetails
            description: Get EFT Details
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/GetMoneyRequestDetails:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_GetMoneyRequestDetails
            description: Get Money Request Details
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/GetTransferDetails:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_GetTransferDetails
            description: Get Transfer Details
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/GetTransferOptions:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_GetTransferOptions
            description: Get Transfer Options
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/GetTransferReceiver:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_GetTransferReceiver
            description: Get Transfer Receiver
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/Ping:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_Ping
            description: Ping
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/PrecheckExternalBankAccount:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_PrecheckExternalBankAccount
            description: Precheck External Bank Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/RemindMoneyRequest:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_RemindMoneyRequest
            description: Remind Money Request
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Dcp/RemindTransfer:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_Dcp_RemindTransfer
            description: Remind Transfer
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/Ddt/CreateBulkDdt:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Ddt_CreateBulkDdt
            description: Create Bulk DDT Numbers
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Ddt/Delete:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Ddt_Delete
            description: Delete
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Ddt/GetByDdtId:
        get:
            operationId: Wave1_GET_integrationapi_v1_0_Ddt_GetByDdtId
            description: Get By Ddt Id
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/Ddt/GetByDdtOwnerId:
        get:
            operationId: Wave1_GET_integrationapi_v1_0_Ddt_GetByDdtOwnerId
            description: Get By Ddt Owner Id
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/Ddt/MoneyDeposit:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Ddt_MoneyDeposit
            description: Money Deposit
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Ddt/MoneyWithdrawal:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Ddt_MoneyWithdrawal
            description: Money Withdrawal
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Ddt/Search:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Ddt_Search
            description: Search
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Ddt/SearchETransferTransaction:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Ddt_SearchETransferTransaction
            description: Search e-Transfer Transaction
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Ddt/SearchEftTransaction:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Ddt_SearchEftTransaction
            description: Search EFT Transaction
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Ddt/Update:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Ddt_Update
            description: Update
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/Ddt/UpdateDdtStatus:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_Ddt_UpdateDdtStatus
            description: Update Ddt Status
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/DdtFile/UploadDdtAccountCreateFile:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_DdtFile_UploadDdtAccountCreateFile
            description: Upload Ddt Account Create File
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/DdtFile/UploadDdtAccountDeleteFile:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_DdtFile_UploadDdtAccountDeleteFile
            description: Upload Ddt Account Delete File
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/DdtFile/UploadDdtAccountStatusUpdateFile:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_DdtFile_UploadDdtAccountStatusUpdateFile
            description: Upload Ddt Account Status Update File
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/DdtFile/UploadDdtAccountUpdateFile:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_DdtFile_UploadDdtAccountUpdateFile
            description: Upload Ddt Account Update File
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/DdtFile/UploadDdtCreateTransactionFile:
        post:
            operationId: Wave2_POST_integrationapi_v1_0_DdtFile_UploadDdtCreateTransactionFile
            description: Upload Ddt Create Transaction File
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave2.Wave2Request'
    /integrationapi/v1.0/EFT/CancelEftTransaction:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_EFT_CancelEftTransaction
            description: Cancel Individual EFT Transaction
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/EFT/CreateEftTransaction:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_EFT_CreateEftTransaction
            description: Create Individual EFT Transaction
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/EFT/CreateEftTransactionWithCustomer:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_EFT_CreateEftTransactionWithCustomer
            description: Create Eft Transaction With Customer
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/EFT/GetClientAllAccount:
        get:
            operationId: Wave2_GET_integrationapi_v1_0_EFT_GetClientAllAccount
            description: Get Client All Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/EFT/GetClientMainAccount:
        get:
            operationId: Wave2_GET_integrationapi_v1_0_EFT_GetClientMainAccount
            description: Get Client Main Account
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/EFT/GetClientTransactionLimit:
        get:
            operationId: Wave2_GET_integrationapi_v1_0_EFT_GetClientTransactionLimit
            description: Get Client Transaction Limit
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
    /integrationapi/v1.0/EFT/UpdateEftTransaction:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_EFT_UpdateEftTransaction
            description: Update Individual EFT Transaction
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/EFTRecurring/CancelEftRecurringTransaction:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_EFTRecurring_CancelEftRecurringTransaction
            description: Cancel Recurring EFT Transaction
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/EFTRecurring/CreateEftRecurringTransaction:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_EFTRecurring_CreateEftRecurringTransaction
            description: Create Recurring EFT Transaction
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/EFTRecurring/UpdateEftRecurringTransaction:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_EFTRecurring_UpdateEftRecurringTransaction
            description: Update Recurring  EFT Transaction
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/ETransfer/AuthenticateTransfer:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_ETransfer_AuthenticateTransfer
            description: Authenticate Money Send Transfer
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/ETransfer/CancelEtransferTransaction:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_ETransfer_CancelEtransferTransaction
            description: Cancel Individual e-Transfer Transaction
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/ETransfer/CancelEtransferTransactionHigh:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_ETransfer_CancelEtransferTransactionHigh
            description: Cancel Etransfer Transaction High
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/ETransfer/CompleteIncomingMoneyRequests:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_ETransfer_CompleteIncomingMoneyRequests
            description: Complete Money Request Transfer
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/ETransfer/CompleteTransfer:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_ETransfer_CompleteTransfer
            description: Complete Money Send Transfer
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/ETransfer/ContactAdrStatus:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_ETransfer_ContactAdrStatus
            description: Check Direct Deposit Registration
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/ETransfer/CreateDcRequestPayment:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_ETransfer_CreateDcRequestPayment
            description: Create DC Request Payment 🔒
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Wave1.Wave1Request'
    /integrationapi/v1.0/ETransfer/CreateEtransferContact:
        post:
            operationId: Wave1_POST_integrationapi_v1_0_ETransfer_CreateEtransferContact
            description: Create Contact
            parameters: []
            responses:
                '200':
                    description: The request has succeeded.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CanonicalResource.Shared.ErrorEnvelope'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
[...]
